body {
    text-align: center;
}

h1 {
    text-align: center;
}

#part1 {
    text-align: left;
    padding-left: 12.5%;
    margin-right: 50%;
}

#part2 {
    text-align: left;
    padding-left: 12.5%;    
    margin-right: 50%;
}

#part3{
    text-align: left;
    padding-left: 12.5%;
    margin-right: 50%;
}

#part4{
    text-align: left;
    padding-left: 12.5%;    
    margin-right: 50%;
}

#part7 {
    text-align: left;
    padding-top: 5%;
    padding-left: 12.5%;    
    margin-right: 50%; 
}