body {
    text-align: center;
}

h1 {
    text-align: center;
}

#part1 {
    text-align: left;
    padding: 1%;
    margin-right: 75%;
}

#part2 {
    text-align: left;
    padding: 2%;
    margin-right: 60%;
}

#part3{
    text-align: left;
    padding: 2%;
    margin-right: 60%;
}

#part4{
    text-align: left;
    padding: 2%;
    margin-right: 60%;
}